
*{
  font-family:sans-serif;
  box-sizing: border-box;
}

p{
  margin:0;
}

body{
  background-color: lightgray;
}


/* DAVID SPOON */
h1{
  font-size:50px;
  margin-top: -30px;
  margin-left: 20%;
  color:#268ecb;
  font-weight: bold;
}

/*Junior web developer*/
h2{
  margin-left:20%;
  font-size: 25px;
  margin-top:-30px;
}
/*for the links*/
span{
  color:black;
}

h3{
  
  color:#268ecb;
}

h5{
  color:#268ecb;
}

.fa{
  color:#268ecb;
}

.date {
  padding-bottom: 85px;
  font-weight: bold;
  width: 30%;
  text-align: center;
}

.date1{
  padding-bottom: 60px;
  font-weight: bold;
  width: 30%;
  text-align: center;
}

.description {
  vertical-align: top;
}

.resume{
  width: 100px;
  height: 80px;
  background-color: #268ecb;
  color:white;
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 30px;
}

.header{
  width: 100%;
}

.widthSixty{
  width: 60%;
}

.widthTwentyFive{
  width: 25%;
}
.space{
  height:200px;
}

.alignRight{
  text-align: right;
}

.partLeft{
  vertical-align: baseline;
  width: 50%;
  padding: 0;
}

.partRight{
  width: 420px;;
  padding: 0;
}

.workBox{
  right: -25px;
  transform: rotate(-60deg);
  position: relative;
  display: block;
  background-color:rgba(38,142,203,.7);
  width: 100px;
  height: 100px;
  text-align: center;
  color:white;
  font-size:25px;
}

.playBox{
  left:-25px;
  padding-top: 65px;
  transform: rotate(-60deg);
  position: relative;
  display: block;
  background-color:rgba(38,142,203,.7);
  width: 100px;
  height: 100px;
  text-align: center;
  color:white;
  font-size:25px;
}

.corpName{
  font-size:20px;
}

.container{
  background-color: white;
  margin:auto;
  margin-top:10%;
  margin-bottom: 10%;
  width: 1000px;
}

.blankSpace{
  width: 50%;
}

.footer{
  background-color: #268ecb;
}
